<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body style="text-align: center;">
        <div class="mx-20 text-center">
            {% if error == 1 or error == 2 %}
            <h1 class="text-red-400">Either Album name or Number of Tracks input is missing or both
                <br> Insertion failed
            </h1>
            {% elif error == 4 %}
            <h1 class="text-red-400">Album exists already. Please try again!</h1>
            {% elif error == 3 %}
            <h1 class="text-green-400"> Insertion Successful! </h1>
        {% endif %}
        </div>
        
        <br />
        <div>
            <a href="/maintenance"> Go back to Maintenence Page</a>
        </div>
    </body>
</html>