<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link   href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200|Open+Sans:regular|Martel:200">

    <title>Home Page</title>
</head>
<body src = "./img/background.jpg">
    <header>

        <!-- div to -->
        <div class="logo-container">
            <img src="./img/logo.png" height="30" alt="logo" />
        </div>

        <nav>
            <ul class="placeHolders">
                <li><a class="placeHolder" href="#">Music</a></li>
                <li><a class="placeHolder" href="#">Artist</a></li>
                <li><a class="placeHolder" href="#">Top Chart</a></li>
            </ul>
        </nav>

        <!-- navigation Links, to be able to -->
        <nav>
            <ul class= "nav-links">
            <li><a class="nav-link" href="mantainance.html">Maintainance</a></li>
            <li ><a class="nav-link" href="#">Sign in</a></li>
            <li ><a class="nav-link" href="#">Create account</a></li>
            <li ><a class="nav-link" href="#">About</a></li>
			<div class= "loupe">
				<img src="./img/search.png" height = "30" alt="searchButton" />
			</div>
            </ul>
			
        </nav>
    </header>

    <main>
        <!-- <div class="background">

        </div> -->
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text"></div>
                    <h1>DAMM Music more about Music</h1>
                    <h4>Discover Music with one click</h4>
                </div>

                <!-- <div class="cta"></div> -->
            </div>
        </section>


        <nav>
            <ul class="Imprint">
                <li><h2><a class="Imprint1" href="/imprint">Imprint</a></h2></li>
            </ul>
        </nav>

    </main>
</body>
</html>