<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ratings</title>
	</head>
	<body>
		<form>
			<div class="mb-3">
				<label for="stars" class="form-label">Number of Stars</label>
				<input type="text" name = "stars" class="form-control" id="formGroupExampleInput" placeholder="enter number of stars">
			</div>  
	
			<br>
				<button type="button" class="btn btn-primary">Send message</button>
		</form>
	</body>
</html>