<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
	</head>
	<body>
		<form method="post" action="/song">
			<div class="mb-3">
			<label for="name" class="form-label">Song Name</label>
			<input type="text" name = "name" class="form-control" id="formGroupExampleInput" placeholder="Enter the song name">
			</div>
			<div class="mb-3">
			<label for="length" class="form-label">Song Length</label>
			<input type="number" step="1" name="length" class="form-control" id="formGroupExampleInput2" placeholder="enter length">
			</div>    
			
			<br>
			<button type="submit" class="btn btn-primary">Send message</button>
		</form>
    </body>
</html>